body {
    margin: 0;
    padding: 0;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

canvas {
    position: absolute; 
}

#main-content {
    display: flex;
}

#vid-container {
    margin-right: 30px;
}
